/AdventOfCode2022/Day2RockPaperScissors.Console/bin/*
/AdventOfCode2022/Day2RockPaperScissors.Console/obj/*
/AdventOfCode2022/Day2RockPaperScissors.Tests/bin/*
/AdventOfCode2022/Day2RockPaperScissors.Tests/obj/*
